.laundromats_side_bar_container {
    background-color: #3790f4;
    width: 70px;
    color: white;
    height: 100vh;
    margin-left: 0px;
    text-align: center;
    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: lightgrey;
    }
    p:hover {
        color: white;
    }
    a {
        text-decoration: none;
    }
}