.middle_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background-color: white;
    margin: 15px;
    box-shadow: 2px 2px #888888;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

h1 {
    color: #3790f4;
    font-family: sans-serif;
    margin-right: 10px;
    font-size: 35px;
}


/* .card_shadow {
    box-shadow: 2px 2px 2px 2px grey;
} */