.middle_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1420px;
    height: 100px;
    background-color: white;
    margin: 15px;
    box-shadow: 2px 2px lightgrey;
    border-radius: 10px;
    border: 1px solid;
}

.direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

h1 {
    color: blue;
}


/* .card_shadow {
    box-shadow: 2px 2px 2px 2px grey;
} */