.middle_account_container {
    width: 1000px;
    height: 600px;
    padding: 0 10px;
    position: relative;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 1px 0 1px rgb(0 0 0 / 14%), 2px 0 1px rgb(0 0 0 / 12%), 1px 0 3px rgb(0 0 0 / 20%);
}