.left_card_direction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_card {
    width: 680px;
    background-color: white;
    box-shadow: 2px 2px #888888;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    height: 500px;
}

.active_button {
    background-color: #3790f4;
    padding: 10px;
    align-items: center;
    color: white;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
}

.complete_button {
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.left_card_scroll_bar {
    height: 80%;
    overflow-y: scroll;
    overflow-x: scroll;
}