.taxes-align {
    overflow-y: scroll;
    height: 500px;
    .tax-head-container {
        display: flex;
        align-items: center;
    }
    // .region-item {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }
}