.admin_side_bar_container {
    background-color: white;
    width: 110px;
    color: black;
    height: 100vh;
    margin-left: 0px;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }
    p:hover {
        color: blue;
    }
    .side-bar-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    a {
        text-decoration: none;
    }
}