.nav_icon {
    width: 20px;
    height: 30px;
}

.location_icon {
    width: 20px;
    height: 30px;
    color: white;
}

.location_icon:hover {
    color: black;
    width: 20px;
    height: 30px;
}

.admin_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    font: 20px bold;
}

.location_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    font: 20px bold;
}


/* 
.Nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 60px;
} */

.right_container {
    display: flex;
    flex-direction: row;
    font: 20px bold;
    align-items: center;
}

.laundromats_container {
    display: flex;
    flex-direction: row;
    font: 20px bold;
    align-items: center;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    padding: 5px;
}

.card {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.admin_container:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    color: black;
}

.location_container:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    color: black;
}

.direction {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

h1 {
    color: #3790f4;
    margin-right: 20px;
}