.main_container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    left: 0;
    margin: 0px;
}

.left_container {
    display: flex;
    flex-direction: column;
}

.over_flow {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}