.main_container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.left_container {
    display: flex;
    flex-direction: column;
}

.over_flow {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}